---
import './Header.scss'
import logo from '../assets/logo.svg'
const links = [
  {
    name: 'Home',
    path: '/'
  },
  {
    name: 'About',
    path: '#about'
  },
  {
    name: 'Projects',
    path: '#projects'
  },
  {
    name: 'Blog',
    path: '/blog'
  },
]
---

<header>
  <div class="container">
    <img src={logo} alt="portfolio logo" class="logo">
    <nav>
      <ul id="menu">{links.map(link => <li><a href={link.path}>{link.name}</a></li>)}</ul>
    </nav> 
  </div>
</header>